.container {
    margin: var(--spacing-extra-large);
}

.headerCardsList {
    display: flex;
    justify-content: space-between;
    margin-top: 124px;
}

.headerCardsList>h4 {
    font-size: var(--font-size-medium);
}

.left {
    flex: 0;
    cursor: pointer;
}

.center {
    flex: 1;
    text-align: center;
}

.right {
    cursor: pointer;
    text-align: right;
}

.productsListContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 36px;
    justify-content: space-between;
    margin-top: var(--spacing-extra-large);
}